body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 1110px;
  margin: 0 auto;
  padding-top: 50px;

}

ul {
  list-style: none;
  padding: 0;
}

.cast {
  width: 150px;
  height: 200px;
}

.posterImg {
  width: 300px;
  height: 450px;
}

a {
  color: rgba(0, 0, 255, 0.8);
  font-weight: 700;
}
